*

!.formatter.exs

!Makefile
!mix.exs
!mix.lock

!apps/
!apps/*/
!apps/*/.formatter.exs
!apps/*/mix.exs

!apps/*/config/
!apps/*/config/*/
!apps/*/config/**/*.exs

!apps/*/lib/
!apps/*/lib/**/
!apps/*/lib/**/*.ex

!apps/*/priv/
!apps/*/priv/**/
!apps/*/priv/**/*

!rel/
!rel/vm.args
!rel/*/
!rel/*/*.exs

!config/
!config/*/
!config/*/*.exs
