*

!.formatter.exs
!.gitlab-ci.yml
!.gitignore
!.editorconfig
!.dockerignore

!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE
!Dockerfile
!docker-compose.yml
!Makefile
!mix.exs
!mix.lock
!*.md

!apps/
!apps/*/
!apps/*/.formatter.exs
!apps/*/mix.exs
!apps/*/*.md

!apps/*/config/
!apps/*/config/*/
!apps/*/config/**/*.exs

!apps/*/test/
!apps/*/test/**/
!apps/*/test/**/*.exs

!apps/*/lib/
!apps/*/lib/**/
!apps/*/lib/**/*.ex

!apps/*/priv/
!apps/*/priv/**/
!apps/*/priv/**/*

!build/
!build/*.Dockerfile

!rel/
!rel/vm.args
!rel/*/
!rel/*/*.exs

!config/
!config/*/
!config/*/*.exs

!deploy/
!deploy/*.yaml
!deploy/templates/
!deploy/templates/*.yaml
!deploy/templates/_helpers.tpl
!deploy/templates/NOTES.txt
